@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background: #eee;
    min-height: 100vh;
  }

  .section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 64px;
    background-image: linear-gradient(#221474, #352497);
    overflow: hidden;
  }

  .header {
    font-size: 32px;
    font-weight: 700;
    margin-left: 3em;
    margin-right: 3em;
    flex-wrap: nowrap;
    white-space: nowrap;
    color: #f18de4;
  }

  .section-2 {
    display: flex;
    height: 528px;
    background-image: linear-gradient(#352497, #9f93e5);
    justify-content: space-between;
    overflow: hidden;
  }

  .links {
    display: flex;
    font-weight: 700;
    gap: 32px;
  }

  ul {
    list-style-type: none;
    margin-right: 7em;
  }

  a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #f18de4;
    font-size: 16px;
  }

  .left {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: 700;
    padding-top: 3em;
    margin-left: 3.5em;
    margin-right: 3.5em;
    color: rgb(255, 255, 255)    
  }
  
  .right {
    display: flex;
    margin-left: 3.5em;
    margin-right: 7em;
    margin-top: 6em;
    align-self: stretch;
    background: url(./img/crab.jpg);
    width: 60em;
    height: 70%;
    border-radius: 16px;
    filter: brightness(75%);
    opacity: 95%;
  }

  p {
    font-size: 16px;
    max-width: 600px;
  }
  