@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background: #eee;
    min-height: 100vh;
  }

  .section-wrapper {
    display: flex;
    flex-direction: column;  }
  .section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 64px;
    background-image: linear-gradient(#221474, #352497);
    overflow: hidden;
  }

  .header {
    font-size: 32px;
    font-weight: 700;
    margin-left: 3em;
    margin-right: 3em;
    flex-wrap: nowrap;
    white-space: nowrap;
    color: #9878ee;
  }

  .section-2 {
    display: flex;
    height: 528px;
    background-image: linear-gradient(#352497, #9f93e5);
    justify-content: space-between;
    overflow: hidden;
  }

  .section-3 {
    height: 950px;
    background-image: linear-gradient(#9f93e5, #e476bf);
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .s3-container {
    display: flex;
  }

  .section-4 {
    height: 550px;
    background-image: linear-gradient(#e476bf, #a318da);
  }

  .s4-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .quote {
    margin-top: -90px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #4735ad;
  }

  .quote-en {
    text-align: center;
    margin-top: 1.1em;
    font-size: 22px;
    font-weight: 700;
    color: #4735ad;
    margin-left: 8.4em;
    margin-right: 8.4em;
  }

  .content-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.8em;
    gap: 4.1em;
  }

  .c1 {
    background-image: linear-gradient(to bottom right, #74f30c, #ff00aa);
    height:  3em;
    width: 3em; 
    border-radius: 8px;
  }

  .c2 {
    background-image: linear-gradient(to bottom right, #ff00aa, #556fe2);
    height:  3em;
    width: 3em; 
    border-radius: 8px;
  }

  .c3 {
    background-image: linear-gradient(to bottom right, #970cf3, #4bf33c);
    height:  3em;
    width: 3em; 
    border-radius: 8px;
  }

  .c4 {
    background-image: linear-gradient(to bottom right, #2bff00, #ee37b7);
    height:  3em;
    width: 3em; 
    border-radius: 8px;
  }

  .subtext-2 {
    max-width: 3em;
    color: #341eac;
    display: flex;
    gap: 245px;
  }

  .info {
    min-width: 180px;
    max-width: 180px;
    color: #341eac;
    margin-top: 0.7em;
    font-size: 16px;
    flex-shrink: 0;
  }

  .links {
    display: flex;
    font-weight: 700;
    gap: 32px;
  }

  ul {
    list-style-type: none;
    margin-right: 7em;
  }

  a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #9878ee;
    font-size: 16px;
  }

  .left {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: 700;
    padding-top: 3em;
    margin-left: 3.5em;
    margin-right: 3.5em;
    color: #e2dcf5;    
  }
  
  .right {
    display: flex;
    margin-left: 3.5em;
    margin-right: 7em;
    margin-top: 6em;
    align-self: stretch;
    background: url(./img/fade-2.jpg);
    width: 60em;
    height: 70%;
    border-radius: 16px;
  }

  p {
    font-size: 16px;
    max-width: 600px;
  }

  button {
    font-size: 28px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    border-radius: 6px;
    border: 0;
    padding: 6px;
    background-color:#3758c2;
    margin-top: 8px;
    box-shadow: 3px 3px;
  }

  .content-title {
    font-size: 60px;
    margin-top: 3em;
    font-weight: 700;
    color: #341eac;
    text-align: center;
  }

  .footer {
    background-color: #5a226b;
    opacity: 90%;
    display: flex;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .subscribe {
    display: flex;
    background-color: #279bd1;
    margin-top: 17em;
    padding: 30px;
    border-radius: 8px;
    align-items: center;
    gap: 20px;
    font-weight: 700;
  }

  .s-left-bot {
    font-weight: 500;
    max-width: 380px;
  }
  